<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[PAGE TITLE]</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About Me</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <h1>Yujin Lim</h1>
    <p>I'm originally from South Korea but reside in Alabama. I come from 
        a family of 7 and I major in computer science at BYU-Idaho!
    </p>
    <p>My hobbies are reading, combat sports, and eating good food!</p>
    <img src="/image.jpg" alt="Cartoon image of me">
</body>
</html>